body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto !important;
    color: #222;
    font:12px  Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    background: #f2f2f2;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
a {
    color: #222;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*搜索栏 */
.search-box {
    display: flex;
    align-items: center;
    height: 44px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.search-box .search-ipt {
    position: relative;
    flex:1;
    height: 26px;
    padding-left: 20px;
    line-height: 26px;
    border:1px solid #ccc;
    border-radius: 5px;
}
.search-box .search-ipt::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 6px;
    width: 15px;
    height: 15px;
    display: block;
    background: url('../images/sprite.png') -60px -280px;
    background-size: 104px 328px;
}
.user {
    display: flex;
    flex-direction: column;;
    align-items: center;
    position: relative;
    margin-left: 10px;
    width: 44px;
    height: 44px;
 }
.user span {
    flex:1;
 }
 .user-icon{
     margin-bottom: 5px;
 }
.user-icon::before {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    width: 23px;
    height: 23px;
    background: url('../images/sprite.png') -59px -194px;
    background-size: 104px 328px;
}
/* local-nav */
.local-wrapper {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 10px 0;
    border-radius: 5px;
}

.local-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
.local-icon-1 {
    background:url('../images/localnav_bg.png')  no-repeat 0 0;
}
.local-icon-2 {
    background:url('../images/localnav_bg.png')  no-repeat 0 -32px;
}
.local-icon-3 {
    background:url('../images/localnav_bg.png')  no-repeat 0 -64px;
}
.local-icon-4 {
    background:url('../images/localnav_bg.png')  no-repeat 0 -96px;
}
.local-icon-5 {
    background:url('../images/localnav_bg.png')  no-repeat 0 -128px;
}
[class^="local-icon"] {
    display: block;
    width: 32px;
    height: 32px;
    background-size: 32px auto;
}
/* 酒店导航 */
.hotel-wrapper {
    display: flex;
    height: 88px;
    margin-bottom: 5px;
}
.hotel-wrapper .hotel-item:nth-child(1) {
    background: url('../images/hotel.png') no-repeat bottom  center;
    background-size: 70%;
}
.hotel-item {
    flex:1;
    display: flex;
    flex-direction: column;
}
 
.hotel-item a{
    flex: 1;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.hotel-wrapper:nth-child(1){
    background: linear-gradient(to right, #fa5e55, #fb964e);
}
.hotel-wrapper:nth-child(2){
    background: linear-gradient(to right,#4c92ed, #53baed);
}
.hotel-wrapper:nth-child(3){
    background: linear-gradient(to right ,#37c2a5, #69d45f);
}
.hotel-wrapper .hotel-item:nth-child(2) {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;

}
.hotel-wrapper .hotel-item a:nth-child(2) {
    border-top: 1px solid #fff;
}
 
/*  消费导航 */
.consumer-wrapper {
    display: flex;
    flex-wrap: wrap;
    background:#fff;
    padding: 5px;
}

.consumer-wrapper li {
    flex: 20%;
}
.consumer-wrapper li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.consumer-wrapper .consumer-icon {
    display: block;
    width: 24px;
    height: 24px;
    background:url('../images/subnav-bg.png') no-repeat 0 0;
    background-size: 24px auto;
    margin-top: 10px;
}
.consumer-wrapper span {
    font-size: 14px;
}
/* hot */
.hot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height: 60px;
    padding: 0 10px;
    background: #fff;
}
.hot h2  {
    width: 79px;
    height: 16px;
    background: url('../images/hot.png') no-repeat 0 -19px;
    background-size: 79px 58px;
    font-size: 0;
}
.hot a{
    display: block;
    position: relative;
    width: 114px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(to right, #FF506C, #FF6BC6);
}
.hot a::after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    right: 7px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform:rotate(45deg)
}
/* activity-item */
.activity-item {
    display: flex;
}
.activity-item img {
    vertical-align: bottom;
}

.activity-item:nth-child(2) {
    border: 1px solid #ccc;
}
.activity-item a:nth-child(1){
    border-right: 1px solid #ccc;
}